..hexa {
    padding: 100px;
    background-color: #ff00ff;
    color:#000
}
.rgb {
    padding: 100px;
    background-color:rgb(255, 99, 77);
    color:#fff;
}
.rgba {
    padding:100px;
    background-color: rgba(255, 99, 71, 0.5);
    color:rgb(255, 2555, 255)

}
.hsl {
    padding: 100px;
    background-color: hsl(120, 20%, 50%);
    color: rgb(0, 0, 0);
}
.hsla {
    padding: 100px;
    background-color: hsla(20, 100%, 50%, 0.7);
    color: rgb(white));
}
.gradasi {
    padding: 100px;
    color:: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);;
}
.gradasi {
    padding: 100px;
    color:: rgb(2,0,36);
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}   
body {
    background-image: url(gradasi.jpg);
}
header {
    background: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: auto;
    border: 1px solid black;
                
}
.cok{
    border: ;
}
    
