ul#inline li {
    display: inline;
    background-color: red;
    padding: 10px;
}
.block {
    background-color: lightblue;
    padding: 10px;
}
.heading {
    font-size: 20px;
    font-weight: bold;
}
.subheading {
    padding-left: 30px;
}
span {
    padding: 10px;
    display: block;
}
.box1 {
    display: inline-block;
    background-color: peachpuff;
    width: 200px;
    height: 300px;
    margin: 10px;
}
.box2 {
    display: block;
    background-color: lightcoral;
    width: 250px;
    height: 150px;
    margin: 10px;
}
.box3 {
    display: block;
    background-color: lightcoral;
    width: 50px;
    height: 60px;
    margin: 10px;
}
.box4 {
    display: inline-block;
    background-color: lightblue;
    width: 100px;
    height: 40px;
    margin: 10px;
}
.box-none-1 {
    display: block;
    background-color: violet;
    padding: 20px;
    margin-bottom: 20px;
}
.box-none-2 {
    display: none;
    background-color: violet;
    padding: 20px;
}
#hiden {
    visibility: hidden;
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: brown;
    margin: 10px;
}
#none {
    display: none;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    background-color: brown;
}