header {
    border: 5px solid black;
}
.border-singkat {
    /*top left bottom right: */
    border: 10px;
    border-color:violet;
    border-style: dotted;
    padding: 10px;
}
.border {
    border-top: 10px solid violet;
    border-bottom: 10px solid violet;
    border-left: 10px solid violet;
    border-right: 10px solid violet;
    padding: 10px;
}
.dash {
    border: 5px;
    border-color: orange;
    border-style: dashed;
    padding: 10px;
}
.double-line {
    border: 5px;
    border-color: teal;
    border-style: double;
    padding: 15px;
}
.rounded-box {
    background: blue ;
    color: aliceblue;
    padding: 16px;
    border-radius: 16px;
    width: 250px;
    height: 250px;
}
.box {
    width: 300px;
    height: 200px;
    border: 10px solid transparent;
    border-image: url(border-new.png);
    border-image-slice: 150;
    border-image-width: 20px;
    border-image-outset: o;
    border-image-repeat: stretch;
}