ul.circle {
    list-style-type: circle;
}
ul.square {
    list-style-type: square;
}
ol.upper-roman {
    list-style-type: upper-roman;
}
ol.lower-alpha {
    list-style-type: lower-alpha;
}
ul.remove-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.horizontal-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}
.horizontal-menu li {
    margin: 0 15px;
}
.horizontal-menu li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.horizontal-menu li a:hover {
    background-color: #575757;
    border-radius: 4px;
}
.vertikal-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    background-color: #333;
}
.vertikal-menu li {
    border-bottom: 1px  solid #444
}
.vertikal-menu li a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #333;
}
.vertikal-menu li a:hover {
    background-color: #575757;
}
ul.outside li {
    list-style-position: outside;
    background-color: aqua;
}
ul.inside li {
    list-style-position: inside;
    background-color: aqua;
}
.list-image  {
    list-style-image: url('soft-drink.png');
}
.list-style  {
    list-style: square inside url("soft-drink.png");
}